src-gen
build
*~
\#*
.\#*
.idea
out
*.iml
.classpath
*.swp
*.tmp
nbproject
manifest.mf
build
PTFrontend/nbbuild.xml
Sandbox
META-INF
JastAddJRefactoring
.project
profile.txt
profile.xml
*.class
TAGS
tags
debug/
JastAddJ/Java1.4Frontend/AST
JastAddJ/Java1.4Frontend/parser
JastAddJ/Java1.4Frontend/scanner
PTFrontend/src/testutils/src/testutils/javaparser/PTJavaParser.java
*src_output*
*actual_output
